

<h3>Welcome to Legacy Tools Online</h3>
<p>We provide information and tools for planning endowments for organizations, professionals and individuals</p>
<p>Our legacy planning tools will be available on a low cost monthly subscription. Currently we are providing this site in beta
  mode for testing. Subscriptions are currently free.
</p>
<div id="tabs2" style="min-height:400px;" >
  <ul>
    <li><a href="#tabs2-1">Organizations</a></li>
    <li><a href="#tabs2-2">Professionals</a></li>
    <li><a href="#tabs2-3">Individuals</a></li>
  </ul>
  <div id="tabs2-1">
    <h2>For Organizations</h2>
    <p>Planned giving can be accomplised and facilitated by the use of our online Legacy Tools.
    Planned giving is important because:
      <ul><li>There is an uprecedented intergennerational transfer of wealth underway.</li>
      <li>Demographic factors are favorable:
        <ul><li>Aging population</li>
          <li>Concentration of wealth in the hnads of the older generation.</li>
          <li>Increasingly sophisticated Donoros</li>
        </ul>
       
      </li>
      <li>Growing appreciation of estate and financial planning.</li>
      <li>Growing interest in being more "actively engaged" in philanthropic initiatives (i.e. donor-advised funds 
        (DAFs), private foundations etc.)
      </li>
      </ul>
    </p>
  </div>
  <div id="tabs2-2">
    <h2>For Professionals</h2>
    <p>Assist you clients in making informed choices for their estate planning and planned giving.</p>
   </div>
  <div id="tabs2-3">
    <h2>For Individuals</h2>
    <p>Inform your self of the implications of estate planning for you and your significant other?</p>
    <p>Will you and your significant other be ok going forward?</p>
    <p>Will your children be taken care of?</p>
    <p>Will the taxman intrude on your estate? What can you do to make sure your money is used the way you wish it to be used.</p>
  </div>
</div>
 <script>
  $(function() {
    $( "#tabs2" ).tabs().addClass( " ui-helper-clearfix" );
    $( "#tabs2 li" ).removeClass( "ui-corner-top" ).addClass( "ui-corner-left" );
  });
  </script>